/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
main{
    margin: 70px 180px;
}

/* player section start */

header{
    background-color:#2D25A0;
}
.banner-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 100px;
    margin:0 150px;
    padding: 100px 0;
}
.banner-left h1{
    font-size: 64px;
    font-weight:700;
    color: white;
}
.banner-left a{
    font-size: 16px;
    font-weight:500;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top:20px;
}
.icon-spacing{
    padding-left: 8px;
}
.banner-right img{
    width: 100%;
    height: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
}
.player{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.player img{
    width: 300px;
    height: 256px;
}

.player-title{
font-size: 28px;
font-weight:700;
color:#18191F;
padding-top: 10px;

}
.player-description{
    color: #6C6C6C;
    font-size: 16px;
    padding: 10px 0;
}

.footer-section{

}
.footer-logo{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    margin: -60px 0;
    
}
.footer-icon{
    display: flex;
    justify-content: center;
    margin:20px 0;
}
.icon{
    background-color:#0b0d1711;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 0px 7px;
    padding:8px}
.fab{
     align-self: center;
    color:#969BAB;
    justify-self: center;
    
}
.copyright{
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 60px;
}
/* responsive using media query */

/*Responsive For mobile devices */
@media only screen and (max-width:688px) {
    .banner-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        margin:0 20px;
        padding:65px 16px;
    }
    .banner-left h1{
        font-size:36px;
        font-weight:700;
        color: white;
    }
   
    main{
      margin: 45px 15px;
  }
    .players{
      grid-template-columns: repeat(1,1fr);
      grid-row-gap: 30px;
  } 
  .player{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
    padding: 15px;
    /* display: flex;
    flex-direction: column; */
} 
  .player img{
    width: 100%;
    height: auto;
    
    /* justify-self: center;
    align-self: center; */
}
.footer-logo{
    width: 100%;
    height: 80px;
    margin: -20px 0;
}
}